{% extends 'base.html' %} {% block content %}
<div class="landing">
  <div class="greeting-info">
    <h3>Intended Audience</h3>
    <p> This course evaluation request website is intended for current undergraduate Georgia Tech students and applicants that need courses evaluated for credit, initial transfer, or admissibility.</p>
    <p>GRADUATE STUDENTS OR APPLICANTS, PLEASE DO NOT USE THIS SITE. Information for graduate students interested in transfer credit can be found <a href="http://catalog.gatech.edu/academics/graduate/policies-and-regulations/">here</a>.</p>
  </div>

  <div class="greeting-info">
    <h3>Important</h3>
    <p> Before submitting a request for an evaluation, please review the <a href="https://oscar.gatech.edu/pls/bprod/wwtraneq.P_TranEq_Ltr">transfer equivalancy catalog</a>. If your course(s) are listed with a GT equivalent, there is no need to request an
      additional evaluation.</p>
  </div>

  <div class="greeting-info">
    <h3>Items Needed</h3>
    <p> Before logging into this website and requesting a transfer credit review you will need to have a course syllabus and/or description in electronic format (pdf, doc, docx, xls, xlsx, jpg, tif, or png only) for each course being evaluated. The course
      syllabus and description are the basis of your evaluation. Georgia Tech cannot process your request without them.</p>
  </div>
</div>

{% endblock %}
